# Big Mac Activities
Let's take a look at a familiar data set (the cost of big macs around the world) and analyse it using Jupyter Notebook and Pandas. This skillset will **_directly_** link to your assessment task.

Complete each activity stipulated in the comments by looking at the *even-more-python-for-beginners* provided on GitHub.

## Series
Complete the following pandas Series following the instructions in the comments:

In [7]:
import pandas as pd

#Create a pandas Series which contains 'Australia', 'Britain', 'New Zealand' and 'United States' and store them on separate lines in a variable, 'countries'. 
countries = pd.Series([
        'Australia',
        'Britain',
        'New Zealand', 
        'United States'
        ])


#Print the series
print(countries)

0        Australia
1          Britain
2      New Zealand
3    United States
dtype: object

In [8]:
#Output Britain from the list using its index

print(countries[1])

Britain

In [13]:
#Iterate through all values in countries series using a for loop

for x in countries:
    print(x)

Australia
Britain
New Zealand
United States

## DataFrame
Usually we work with two-dimensional arrays. We store them using **DataFrame** in pandas. 

### Activity
Let's use a DataFrame to store more meaningful values than our countries series. Let's store the following values in a Data Frame called 'big_mac':

**Headings:** Country, Local Price, AUD Price
- `'Australia', 7.45, 7.45`
- `'Britain', 4.19, 0.0`
- `'Japan', 450, 0.0`
- `'New Zealand', 7.1, 0.0`
- `'United States', 5.58, 0.0`

**NOTE:** You'll need to look online at current rates to convert Britain, New Zealand, Japan and United States' local prices to AUD.

In [19]:
#Add a pandas DataFrame called 'big_mac' with the above values
bigMacPrice = pd.DataFrame([
                            ['Australia', '7.45', '7.45']
                            ['Britain', '4.19', '0.0']
                            ['Japan', '450', '0.0']
                            ['New Zealand', '7.1', '0.0']
                            ['United States', '5.58', '0.0']
                            ])
#Print the DataFrame
print(bigMacPrice)

<>:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
C:\Users\rufus.whelan\AppData\Local\Temp\ipykernel_3792\79274629.py:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ['Australia', '7.45', '7.45']
C:\Users\rufus.whelan\AppData\Local\Temp\ipykernel_3792\79274629.py:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ['Australia', '7.45', '7.45']
C:\Users\rufus.whelan\AppData\Local\Temp\ipykernel_3792\79274629.py:3: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  ['Australia', '7.45', '7.45']

NameError: name 'pd' is not defined

## Exploring pandas DataFrames

In [15]:
#Print only the first two rows of the big_mac dataframe

In [16]:
#Print only the last four rows of the big_mac dataframe

In [17]:
#Print the number of rows and columns in the big_mac dataframe

In [18]:
#Print some detailed information about the big_mac dataframe

## Querying DataFrames
Let's explore how we request data from a pandas DataFrame.

In [19]:
#Request and output the 'Country' and 'AUD Price' columns from the big_mac DataFrame.

In [20]:
#Use iloc to request the third row, all columns

In [21]:
#Use iloc to request all rows, but just the 'Country' and 'AUD Price' columns

In [22]:
#Use loc to do the same thing as the previous (Country and AUD Price all rows)